
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

@*<h2> Welcome to College Management System   </h2>*@
@*<div class="bg-image" style="background-image: url('https://schoolzpro.com/wp-content/uploads/2020/12/schoolma.png '); background-repeat: no-repeat; height: 100vh; background-position: center; background-size: cover">

</div>*@




